{% extends 'index.html' %}

{% block content %}
<div class="w3-container">
    <h3 class="w3-center">数据库 <i class="w3-text-red">{{ collection }}</i>：第 {{ page }}/{{ pages }} 页 - 共 {{ count }} 条记录</h3>
    <ul class="w3-navbar w3-right">
       <li class="w3-yellow"><a href="/{{ collection }}/{{ previous }}">Previous</a></li>
       <li class="w3-green"><a href="/{{ collection }}/{{ next }}">Next</a></li>
    </ul>
</div>
<hr/>
<div class="w3-container">
    <ul class="w3-ul">
    {% for doc in documents %}
        <li class=" w3-show-inline-block" style="float: left">
            <div class="w3-card-2 w3-white">
                <div class="w3-container w3-hover-opacity w3-blue w3-center">
                    <h3>{{ doc['word'] }}</h3>
                </div>
                <div class="w3-container">
                    <ul class="w3-ul">
                    {% for kv in doc['item'] %}
                        {% for k,v in kv.items() %}
                            <li><a target="_blank" href="https://baike.baidu.com{{ v }}">{{ k }}</a></li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}