<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/w3.css" type="text/css">
    <title>ScrapyDB</title>
</head>
<body class="w3-responsive">

<div class="w3-container">
    <nav class="w3-container w3-blue">
        {% include 'nav.html' %}
    </nav>
    <div class="w3-container w3-sand">
        {% block content %} {% endblock %}
    </div>
</div>

</body>
</html>